<!DOCTYPE html>
<html lang="en">
   <head>
      {% block title %}
      <title>Login page</title>
      {% endblock %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>
   <body>
      <div class="login-form">
         <div class="action">
            <button><a href="{% url 'login' %}">Sign up</a></button>
            <button><a href="{% url 'register' %}">register</a></button>
         </div>
         <form action="" method="post">
            {% csrf_token %}
            <h1>Login</h1>
            <div class="content">
               <div class="input-field">
                  <input type="email"name="email"placeholder="Email" autocomplete="nope">
               </div>
               <div class="input-field">
                  <input type="password" name="password" placeholder="Password" autocomplete="new-password">
               </div>
               <button type="submit" class="btn"> Sign in</button>
               <p> Have You not registered yet ? go to <a href="{% url 'register' %}">register</a></p>
            </div>
         </form>
      </div>
   </body>
</html>